<h1><%= @activity.title %></h1>
<p class='post_tags'>
  Tags:
  <% @activity.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p class='body'><%= @activity.body %></p>
<div class='nav_bar'>
  <p class='page_nav'><%= link_to "See All Content", tags_path %></p>
  <% if logged_in? %>
    <p class='page_nav'><%= link_to "edit", edit_activity_path(@activity) %></p>
    <p class='page_nav'><%= link_to "delete", activity_path(@activity), method: :delete %></p> 
  <% end %>
</div>